<div class="form-container">
    <div class="form-list">
        <div class="form-item">
            <label for="region">Region: </label>
            <select id="region">
                <option>Midtjylland</option>
            </select>
        </div>
        <div class="form-item">
            <label for="postcode">Postnr: </label>
            <input id="postcode" list="postcode-list" />
            <datalist id="postcode-list"></datalist>
        </div>
        <div class="form-item">
            <label for="city">By: </label>
            <input id="city" type="text" />
        </div>
        <div class="form-item">
            <label for="roadname">Vej: </label>
            <input id="roadname" list="roadname-list" />
            <datalist id="postcode-list"></datalist>
        </div>
    </div>
</div>
