<div class="form-container">
    <div class="form-list">
        <div class="form-item">
            <label for="postcode">Postnr: </label>
            <input
                #postcodeInput
                id="postcode"
                list="postcode-data-list"
                (input)="getPostcode(postcodeInput.value)"
            />
            <datalist id="postcode-data-list">
                <option *ngFor="let postcode of postcodes">
                    {{ postcode.nr }}
                </option>
            </datalist>
        </div>
        <div class="form-item">
            <label for="city">Bynavn: </label>
            <p id="city">
                <span *ngFor="let postcode of currentPostcode">
                    {{ postcode.navn }}
                </span>
            </p>
        </div>
    </div>
</div>
<div class="postcode-result-list" *ngIf="currentPostcode.length">
    <h1>kommuner</h1>
    <ul *ngFor="let postcode of currentPostcode">
        <li *ngFor="let municipality of postcode.kommuner">
            {{ municipality.navn }}
        </li>
    </ul>
</div>
